---
# Checks: '*,-abseil-no-internal-dependencies,-bugprone-exception-escape,-clang-analyzer-core.uninitialized.UndefReturn,-cppcoreguidelines-avoid-c-arrays,-cppcoreguidelines-avoid-magic-numbers,-cppcoreguidelines-macro-usage,-cppcoreguidelines-owning-memory,-cppcoreguidelines-pro-bounds-array-to-pointer-decay,-cppcoreguidelines-pro-bounds-pointer-arithmetic,-cppcoreguidelines-pro-type-const-cast,-cppcoreguidelines-pro-type-reinterpret-cast,-cppcoreguidelines-pro-type-static-cast-downcast,-fuchsia-default-arguments,-google-default-arguments,-google-runtime-references,-hicpp-avoid-c-arrays,-hicpp-no-array-decay,-modernize-avoid-c-arrays,-performance-unnecessary-value-param,-readability-else-after-return,-readability-implicit-bool-conversion,-readability-magic-numbers,-readability-named-parameter'
Checks: 'bugprone-*,-bugprone-exception-escape,-bugprone-easily-swappable-parameters,clang-analyzer-*,cppcoreguidelines-*,-cppcoreguidelines-pro-type-static-cast-downcast,-cppcoreguidelines-avoid-c-arrays,-cppcoreguidelines-macro-usage,-cppcoreguidelines-avoid-magic-numbers,-cppcoreguidelines-owning-memory,-cppcoreguidelines-pro-bounds-pointer-arithmetic,misc-*,-misc-const-correctness,modernize-*,-modernize-use-trailing-return-type,performance-*,portability-*,readability-*,-readability-implicit-bool-conversion,-readability-qualified-auto,-readability-magic-numbers,-readability-make-member-function-const,-readability-convert-member-functions-to-static,-readability-named-parameter,-readability-identifier-length'
WarningsAsErrors: true
HeaderFilterRegex: ''
